<div class="container">
  <div class="row" 
      infiniteScroll
      [infiniteScrollDistance]="-0.4"
      [infiniteScrollThrottle]="500"
      (scrolled)="onScroll()" >
    <div class="event_card col-lg-4 col-md-5 mx-md-auto my-4 col-sm-10" 
        *ngFor="let event of events">
      <a [routerLink]="['/events/detail',event.id]">
        <div class="img-thumbnail">
          <img class="event_card_img img-fluid" src="https://cdn-images-1.medium.com/max/1200/1*V3Kfghg_jIV0ubxmAnCXBA.jpeg" />
          <div class="caption event_card_info col-12">
            <h5 class="mt-2">{{event.name}}</h5>
            <dl>
              <dd>time: {{event.time}}</dd>
              <dd>time: {{event.time}}</dd>
            </dl>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
