<div id="carouselExampleSlidesOnly" class="carousel slide d-none d-sm-block" data-ride="carousel" >
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../../../assets/pics/index1.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../../assets/pics/index2.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../../assets/pics/index3.jpg" alt="Third slide">
    </div>
  </div>
</div>


<!-- <div>
  <p class="mx-auto">Discover possibilities</p>
</div> -->
<blockquote class="mt-5 blockquote text-center">
  <p class="mb-0"><b>Discover possibilities</b></p>
  <!-- <footer class="blockquote-footer">Find and join any events you like.</footer> -->
</blockquote>


<div class="container">
  <div class="row" >

    <!-- <div class="event_card col-lg-4 col-md-5 mx-md-auto my-4 col-sm-10" 
        *ngFor="let event of events">
      <a [routerLink]="['/events/detail',event.id]">
        <div class="img-thumbnail">
          <img class="event_card_img img-fluid" src="https://cdn-images-1.medium.com/max/1200/1*V3Kfghg_jIV0ubxmAnCXBA.jpeg" />
          <div class="caption event_card_info col-12">
            <h5 class="mt-2">{{event.name}}</h5>
            <dl>
              <dd>time: {{event.time}}</dd>
              <dd>time: {{event.time}}</dd>
            </dl>
          </div>
        </div>
      </a>
    </div> -->

    <!-- card: -->
    <div class="mx-auto my-4 col-lg-4 col-md-6 col-sm-10"
          *ngFor="let event of events" >
      <a class="event_card_main" [routerLink]="['/events/detail',event.id]">
        <div class="card event_card">
          <img class="card-img-top" src="https://cdn-images-1.medium.com/max/1200/1*V3Kfghg_jIV0ubxmAnCXBA.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{event.name}}</h5>
            <p class="card-text">time: {{event.time}}</p>
          </div>
        </div>
      </a>
    </div>
    

  </div>
  
  <div class="row" *ngIf="loading">
    <!-- <h3 class="mx-auto">Loading ...</h3> -->
    <img class="mx-auto" src="../../../assets/svg/Flickr-1.2s-88px.svg" />
  </div>

</div>
