<div>
  <form #formRef="ngForm">
    <div class="form-group">
      <label for="eventName">Event Name</label>
      <input tpye="text" class="form-control" id="eventName"
             name="eventName" required placeholder="事件名称" [(ngModel)]="newEvent.name">
    </div>
    <div class="form-group">
      <label for="eventTime">Event Time</label>
      <input tpye="text" class="form-control" id="eventTime"
             name="eventTime" required placeholder="时间" [(ngModel)]="newEvent.time">
    </div>

    <div class="form-group">
      <label for="eventImgUrl">Event Image Url</label>
      <input tpye="text" class="form-control" id="eventImgUrl"
             name="eventImgUrl" required placeholder="image Url" [(ngModel)]="newEvent.imageUrl">
    </div>
    <div class="form-group">
      <label for="eventDesc">Event Description</label>
      <textarea tpye="text" row="3" class="form-control" id="eventDesc"
                name="eventDesc" required placeholder="事件描述" [(ngModel)]="newEvent.description">
      </textarea>
    </div>

    <div class="row">
      <div class="col-md-12">Event Name</div>
      <button type="submit" class="btn btn-primary pull-right" (click)="addEvent()"> add Event</button>
    </div>

  </form>
</div>
